**/.idea/
**/*.iml
**/*.iws
**/*.eml
**/out/
**/.DS_Store
**/.svn
**/log/*.log
**/tmp/**
**/node_modules/
**/.sass-cache
**/css/reveal.min.css
**/js/reveal.min.js

HELP.md
**/target/
!**/.mvn/wrapper/maven-wrapper.jar
!**/**/src/main/**
!**/**/src/test/**

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### VS Code ###
**/.vscode/

